.app {
  background: #48489c;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  border-radius: 4px;
  padding: 5px;
  max-width: 465px;
}

.todo {
  background: #fff;
  padding: 1rem 1rem;
  font-size: 1rem;
  margin-bottom: 6px;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

@media(max-width: 552px) {
  .app {
    padding: 0;
  }

  .todo {
    display: block;
    border-radius: 0;
    margin:1px;
  }
  .todo-list {
    padding: 0;
  }
  .bottom-buttons {
    margin: .4rem 0 0 0;
  }
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 4px #5b6ed8;
  outline: none;
  color:white;
  margin: 7rem 0px;
  font-size: 1.5em; 
  font-weight: bold;
}

.complete-button {
  background: #48489c;
  color: #fff;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: .37rem;
  border: none;
}

.remove-button {
  background: #ca60ae;
  color: #fff;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: .37rem;
  border: none;
}

.todo div > button {
  margin: 0 .1rem;
  cursor: pointer;
}

::placeholder { color: white; font-size: 1.5em; font-weight: bold; padding-bottom: 1rem; }



